<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
   <div class = "panel panel-danger">
    <div class = "panel-heading">
      <h4><%= pluralize(object.errors.count, "error impide", "errores impiden") %> 
      que sea guardado:  </h4>
    </div>
    <div class="panel-body"><%object.errors.full_messages.each do |message|%> 
    <ul><li><%=message %></li> 
    </ul>
    <% end %> 
    </div>
  </div>
  <% end %>
   <%= render 'fields', f: f %>
  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>