<p id="notice"><%= notice %></p>

<h1>Listado de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Estado</th>
      <th>Tipo de Usuario</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name} #{user.lastname}", user %></td>
        <td><%= user.active == 1 ? 'Cuenta activada' : 'Cuenta desactivada' %> </td>
        <td><%= Users::Usertype.find(user.userType_id).name %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td></td>
        <td><% if current_user.admin? %> <%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<br>
<% if current_user.admin? %> 
  <br>  <%= link_to 'Panel de Administracion', adminpanel_users_path %>
<% end %> 