<table class ="profile" summary= "Profile Information"> 
  <tr>
    <td class = "main">
      <h1><%= @user.name %> <%= @user.lastname %> </h1>
    </td> 
    <td class ="sidebar round">
      <strong>Name</strong> <%=@user.name %> <%=@user.lastname %> <br />
    </td> 
    <% if current_user.admin? %>
     <td class ="sidebar round">
     	<strong>UserType: </strong><%= Users::Usertype.find(@user.userType_id).name %>
     </td>
     <% end %>
  </tr>
  <% if current_user == @user %>
  <tr><td>Contactos: <br>
    <%= render 'users/shared/stats' %> 
    </td></tr>
  <% else %> 
    <% if current_user.contact?(@user) %> 
    |
    <%= link_to "Quitar de Contactos", relationship_path(current_user.contact?(@user)), method: :delete %>
    <% else %>
    |
    <%= link_to "Agregar Contacto", relationships_path(@user), method: :post %>
    <% end %>
  <% end %>
</table>