<table class ="profile" summary= "Profile Information"> 
  <tr>
    <td class = "main">
      <h1><%= @user.name %> <%= @user.lastname %> </h1>
    </td> 
    <td class ="sidebar round">
      <strong>Name</strong> <%=@user.name %> <%=@user.lastname %> <br />
    </td> 
    <% if current_user.admin? %>
     <td class ="sidebar round">
     	<strong>UserType: </strong><%= Users::Usertype.find(@user.userType_id).name %>
     </td>
     <% end %>
  </tr>
  <tr><td>Contactos: <br>
    <%= render 'users/shared/stats' %> </td></tr>
</table>